USE [MobinGhateh]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Summery] [nvarchar](500) NULL,
	[Detail] [ntext] NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[VisitNumber] [int] NOT NULL,
	[TitleEn] [nvarchar](200) NOT NULL,
	[SummeryEn] [nvarchar](500) NULL,
	[DetailEn] [ntext] NULL,
	[Order] [int] NULL,
	[MetaDescription] [nvarchar](320) NULL,
	[MetaDescriptionEn] [nvarchar](320) NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Careers]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Careers](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[CellNumber] [nvarchar](25) NOT NULL,
	[Email] [nvarchar](300) NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Careers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Catalogs]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogs](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[File] [nvarchar](200) NULL,
	[Description] [ntext] NULL,
	[IsEn] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Catalogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificates](
	[Id] [uniqueidentifier] NOT NULL,
	[Company] [nvarchar](200) NOT NULL,
	[CompanyEn] [nvarchar](200) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[TitleEn] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[SubjectEn] [nvarchar](max) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_dbo.Certificates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactusForms]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactusForms](
	[Id] [uniqueidentifier] NOT NULL,
	[Fullname] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Message] [nvarchar](100) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.ContactusForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Galleries]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Galleries](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[TitleEn] [nvarchar](200) NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Galleries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GalleryImages]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GalleryImages](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[TitleEn] [nvarchar](200) NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[GalleryId] [uniqueidentifier] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.GalleryImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NewsLetters]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsLetters](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.NewsLetters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProducImages]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProducImages](
	[Id] [uniqueidentifier] NOT NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[ProductImageTypeId] [uniqueidentifier] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.ProducImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductGroups]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroups](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[TitleEn] [nvarchar](200) NULL,
	[Description] [nvarchar](4000) NULL,
	[DescriptionEn] [nvarchar](2000) NULL,
	[Priority] [int] NOT NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[MetaDescription] [nvarchar](320) NULL,
	[MetaDescriptionEn] [nvarchar](320) NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
	[ParentId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.ProductGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductImageTypes]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImageTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.ProductImageTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductGroupId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Summary] [nvarchar](500) NULL,
	[Body] [ntext] NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[FlashImageUrl] [nvarchar](200) NULL,
	[TitleEn] [nvarchar](200) NULL,
	[SummaryEn] [nvarchar](500) NULL,
	[BodyEn] [ntext] NULL,
	[IsInHome] [bit] NOT NULL,
	[MetaDescription] [nvarchar](320) NULL,
	[MetaDescriptionEn] [nvarchar](320) NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ResumeForms]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResumeForms](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[NationalCode] [nvarchar](10) NULL,
	[Phone] [nvarchar](20) NULL,
	[Mobile] [nvarchar](15) NULL,
	[Email] [nvarchar](260) NULL,
	[ResumeFile] [nvarchar](200) NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.ResumeForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServiceImages]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceImages](
	[Id] [uniqueidentifier] NOT NULL,
	[ServiceId] [uniqueidentifier] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.ServiceImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Services]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Priority] [int] NULL,
	[TitleEn] [nvarchar](200) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
	[Body] [ntext] NULL,
	[BodyEn] [ntext] NULL,
	[HeaderImageUrl] [nvarchar](max) NULL,
	[IsInHome] [bit] NOT NULL DEFAULT ((0)),
	[HomeSummery] [nvarchar](max) NULL,
	[HomeSummeryEn] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[TitleEn] [nvarchar](200) NULL,
	[Summary] [nvarchar](200) NULL,
	[SummaryEn] [nvarchar](200) NULL,
	[LinkTitle] [nvarchar](200) NULL,
	[LinkTitleEn] [nvarchar](200) NULL,
	[LinkAddress] [nvarchar](200) NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[Priority] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Sliders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TextTypeItems]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TextTypeItems](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Summary1] [nvarchar](1000) NULL,
	[Summary2] [nvarchar](500) NULL,
	[Body] [ntext] NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[TextTypeId] [uniqueidentifier] NOT NULL,
	[TitleEn] [nvarchar](200) NULL,
	[Summary1En] [nvarchar](200) NULL,
	[Summary2En] [nvarchar](200) NULL,
	[BodyEn] [ntext] NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.TextTypeItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TextTypes]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TextTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.TextTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/06/1399 11:21:54 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[LastLoginDate] [datetime] NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[SubmitDate] [datetime] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Certificates] ([Id], [Company], [CompanyEn], [Title], [TitleEn], [ImageUrl], [Subject], [SubjectEn], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate], [Order]) VALUES (N'662fdc3f-3833-41b0-830d-26a83ed52899', N'ایران خودرو', N'لوح سپاس', N'لوح سپاس', N'لوح سپاس', N'/Uploads/Certificate/f69d25cf50f146c4bff60055880563f5.jpg', N'لوح سپاس', N'لوح سپاس', 0, CAST(N'2020-01-07 16:08:25.827' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[Certificates] ([Id], [Company], [CompanyEn], [Title], [TitleEn], [ImageUrl], [Subject], [SubjectEn], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate], [Order]) VALUES (N'77f132e5-9b5e-40e0-95b0-2dc3a72055c1', N'iso 9001', N'iso 9001', N'گواهینامه iso 9001', N'گواهینامه iso 9001', N'/Uploads/Certificate/bc4139806c3d40659fcfe619ea340ff8.jpg', N'گواهینامه iso 9001', N'گواهینامه iso 9001', 0, CAST(N'2020-01-07 16:09:33.080' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[Certificates] ([Id], [Company], [CompanyEn], [Title], [TitleEn], [ImageUrl], [Subject], [SubjectEn], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate], [Order]) VALUES (N'ce2bc6a3-49f7-451b-bec9-964e8356a288', N'انجمن سازندگان قطعات خودرو', N'انجمن سازندگان قطعات خودرو', N'گواهینامه عضویت', N'گواهینامه عضویت', N'/Uploads/Certificate/e9011b7a06584a18a485b4c2cb7b3920.jpg', N'گواهینامه عضویت', N'گواهینامه عضویت', 0, CAST(N'2020-01-07 16:10:53.117' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[Customers] ([Id], [Title], [ImageUrl], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'cf462488-9388-44b7-8f89-68b800802cc3', N'سایپا', N'/Uploads/Customer/0e5f44c954724697916157e00b94b4ff.png', 0, CAST(N'2020-02-05 11:21:09.460' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Customers] ([Id], [Title], [ImageUrl], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'fb188deb-d288-4363-bbb6-b2e91389d6c1', N'ایران خودرو', N'/Uploads/Customer/a3db482218c84812bd308483870f6948.png', 0, CAST(N'2020-02-05 11:20:51.507' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[ProductGroups] ([Id], [Title], [TitleEn], [Description], [DescriptionEn], [Priority], [ImageUrl], [MetaDescription], [MetaDescriptionEn], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate], [ParentId]) VALUES (N'a547629f-70e6-488a-a532-11a7fcf5cc23', N'کامیون بنز خاور', N'benz truck', N'کامیون بنز خاور ', NULL, 8, NULL, NULL, NULL, 0, CAST(N'2020-01-19 20:59:34.640' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[ProductGroups] ([Id], [Title], [TitleEn], [Description], [DescriptionEn], [Priority], [ImageUrl], [MetaDescription], [MetaDescriptionEn], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate], [ParentId]) VALUES (N'c7da5531-a5ec-421a-8cfe-14997f543652', N'نیسان', N'neisan', N'توضیحات باک<br />', N'bak desc<br />', 1, N'/Uploads/ProductGroup/c5fad4a5f78a42c79cab7dff04279a97.jpg', NULL, NULL, 0, CAST(N'2020-01-07 08:50:21.000' AS DateTime), NULL, CAST(N'2020-01-19 20:56:54.380' AS DateTime), NULL)
GO
INSERT [dbo].[ProductGroups] ([Id], [Title], [TitleEn], [Description], [DescriptionEn], [Priority], [ImageUrl], [MetaDescription], [MetaDescriptionEn], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate], [ParentId]) VALUES (N'bf342735-2cd4-479e-b3e2-17f86c0981d2', N'بدنه', N'بدنه', N'بدنه ', NULL, 1, NULL, NULL, NULL, 0, CAST(N'2020-01-19 21:02:07.860' AS DateTime), NULL, NULL, N'1be2dba3-ee59-4bac-9525-7ba002bcb4e1')
GO
INSERT [dbo].[Roles] ([Id], [Title], [Name], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'4859154c-a68f-43c2-a02d-9862963e59fd', N'مدیر وب سایت', N'Administrator', 0, CAST(N'2020-01-06 17:18:49.347' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[ServiceImages] ([Id], [ServiceId], [ImageUrl], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'3e9706e5-4ac9-47d0-89ff-0bc5f62594db', N'f55f350d-3d50-46e7-beb6-118a4fecfed9', N'/Uploads/Blog/ff90beedd6544a0eb9f4fee7317bc88a.JPG', 0, CAST(N'2020-02-05 13:39:06.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[ServiceImages] ([Id], [ServiceId], [ImageUrl], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'00fc7626-1435-4979-9a9a-4c791a1ba54f', N'5c56685c-a50a-406c-8efc-f8e5dfc3f251', N'/Uploads/Blog/e29c0861094440ca96cabd0362fa9396.jpg', 0, CAST(N'2020-02-05 13:57:20.357' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[ServiceImages] ([Id], [ServiceId], [ImageUrl], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'8112732d-c64c-4617-9e4f-6f807d49aa7f', N'5c56685c-a50a-406c-8efc-f8e5dfc3f251', N'/Uploads/Blog/52ca3c19f9444ba98d7999b7b8de26a9.jpg', 0, CAST(N'2020-02-05 13:57:11.357' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Sliders] ([Id], [Title], [TitleEn], [Summary], [SummaryEn], [LinkTitle], [LinkTitleEn], [LinkAddress], [ImageUrl], [Priority], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'066794a7-3350-4d58-b911-39493bd678f1', N'تولید کننده باک کامیون', N'mobinghateh asia', N'تولید باک انواع نیسان، انواع خاور، باک نیسان کاربراتوری دوگانه سوز، باک نیسان کاربراتوری', NULL, N'ادامه مطلب', N'more info', N'/fa/product/c7da5531-a5ec-421a-8cfe-14997f543652', N'/assets/images/main-slider/slider2/slide1.jpg', 2, 0, CAST(N'2020-01-01 00:00:00.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Sliders] ([Id], [Title], [TitleEn], [Summary], [SummaryEn], [LinkTitle], [LinkTitleEn], [LinkAddress], [ImageUrl], [Priority], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'3bb01ba7-3bed-4df9-97f1-885167b78ada', N'مبین قطعه آسیا', NULL, N'شرکت مبین قطعه آسیا تولیدکننده انواع باک، بدنه و قطعات موتور خودروهای سنگین و سبک با بیش از 50 سال سابقه در زمینه تولید', NULL, N'اطلاعات بیشتر', N'more info', N'/fa/about', N'/assets/images/main-slider/slider2/slide5.jpg', 4, 0, CAST(N'2020-01-01 00:00:00.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[TextTypeItems] ([Id], [Title], [Summary1], [Summary2], [Body], [ImageUrl], [TextTypeId], [TitleEn], [Summary1En], [Summary2En], [BodyEn], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'5a136832-c149-487d-9994-2a9c6bdbcac8', N'تجربه ارزشمند نیم قرن', N'صدها پروژه موفق در طول دهه های متوالی از دست یافته های نیم قرن تجربه مفید گروه صنعتی گازسو می باشد.', NULL, NULL, NULL, N'7c1e6a81-8a09-449b-bcc0-2ce5c55affbe', N'Valuable Experience', NULL, NULL, NULL, 0, CAST(N'1990-01-01 00:00:00.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[TextTypeItems] ([Id], [Title], [Summary1], [Summary2], [Body], [ImageUrl], [TextTypeId], [TitleEn], [Summary1En], [Summary2En], [BodyEn], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'7a8377cd-cff8-4b9b-9925-2d86ace80475', N'متن اول', N'بهترین کیفیت', N'با شعار اینکه کیفیت یک مسیر است نه یک مقصد', NULL, NULL, N'f19cdc32-c60d-498c-91b2-26d729738866', NULL, N'Best quality', N'quality isn not destination it is a route', NULL, 0, CAST(N'2020-03-02 16:17:47.893' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[TextTypeItems] ([Id], [Title], [Summary1], [Summary2], [Body], [ImageUrl], [TextTypeId], [TitleEn], [Summary1En], [Summary2En], [BodyEn], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'9169d906-4894-4386-b1ee-321a3fbdd80b', N'نمابر', NULL, NULL, N'<p class="m-b0" style="direction:ltr;">+98 21 36423397</p><!-- p --> ', NULL, N'bcd99d3c-5acd-404a-9d37-98e07babe021', N'Fax', NULL, NULL, N'<p class="m-b0">+98 21 36423397</p>', 0, CAST(N'2018-05-03 13:24:40.000' AS DateTime), NULL, CAST(N'2020-02-02 22:41:09.213' AS DateTime))
GO
INSERT [dbo].[TextTypes] ([Id], [Title], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'2f4d1d33-5566-48c8-bfdd-1d15f93f7898', N'اسلاید داخلی', 0, CAST(N'2018-05-14 14:45:31.833' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[TextTypes] ([Id], [Title], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'9892870d-53e3-4a39-aed2-238dec57ecea', N'متن صفحه درباره ما', 0, CAST(N'2018-05-03 13:24:40.523' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[TextTypes] ([Id], [Title], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'f19cdc32-c60d-498c-91b2-26d729738866', N'متن زیر اسلایدر', 0, CAST(N'2020-03-02 16:14:20.347' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Username], [Password], [LastLoginDate], [RoleId], [IsDelete], [SubmitDate], [DeleteDate], [LastModificationDate]) VALUES (N'2179e137-8ee6-44c2-9309-841a701af9c9', N'baseuser', N'baseuser', N'baseuser', N'user2rcv@1!3#', NULL, N'4859154c-a68f-43c2-a02d-9862963e59fd', 0, CAST(N'2020-01-06 17:18:49.347' AS DateTime), NULL, NULL)
GO
ALTER TABLE [dbo].[GalleryImages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GalleryImages_dbo.Galleries_GalleryId] FOREIGN KEY([GalleryId])
REFERENCES [dbo].[Galleries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GalleryImages] CHECK CONSTRAINT [FK_dbo.GalleryImages_dbo.Galleries_GalleryId]
GO
ALTER TABLE [dbo].[ProducImages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProducImages_dbo.ProductImageTypes_ProductImageTypeId] FOREIGN KEY([ProductImageTypeId])
REFERENCES [dbo].[ProductImageTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProducImages] CHECK CONSTRAINT [FK_dbo.ProducImages_dbo.ProductImageTypes_ProductImageTypeId]
GO
ALTER TABLE [dbo].[ProducImages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProducImages_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProducImages] CHECK CONSTRAINT [FK_dbo.ProducImages_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[ProductGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductGroups_dbo.ProductGroups_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[ProductGroups] ([Id])
GO
ALTER TABLE [dbo].[ProductGroups] CHECK CONSTRAINT [FK_dbo.ProductGroups_dbo.ProductGroups_ParentId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductGroups_ProductGroupId] FOREIGN KEY([ProductGroupId])
REFERENCES [dbo].[ProductGroups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductGroups_ProductGroupId]
GO
ALTER TABLE [dbo].[ServiceImages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ServiceImages_dbo.Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceImages] CHECK CONSTRAINT [FK_dbo.ServiceImages_dbo.Services_ServiceId]
GO
ALTER TABLE [dbo].[TextTypeItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TextTypeItems_dbo.TextTypes_TextTypeId] FOREIGN KEY([TextTypeId])
REFERENCES [dbo].[TextTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TextTypeItems] CHECK CONSTRAINT [FK_dbo.TextTypeItems_dbo.TextTypes_TextTypeId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
