@font-face {
    font-family: 'Iransans';
    src: url(/fonts/IranSans/IRANSansWebFaNum.eot) format('embedded-opentype'), url(/fonts/IranSans/IRANSansWebFaNum.woff2) format('woff2'), url(/fonts/IranSans/IRANSansWebFaNum.woff) format('woff'), url(/fonts/IranSans/IRANSansWebFaNum.ttf) format('truetype');
}

body {
    font-family:Iransans;
}
a,h1,h2,h3,h4,h5,h6 {
    font-family: Iransans;
}

.logo-header {
    float: right;
    text-align: right;
}


.extra-nav {
    float: left;
}

.navbar-nav > li {
    float: right;
}

.header-nav .nav > li .sub-menu {
    left: auto;
    right: 0;
    direction:rtl;
    text-align:right;
}

.header-nav .nav > li .sub-menu li a {
    text-align: right;
}

.navbar-toggle
{
    float:left;
}
.header-nav .nav > li .sub-menu li > .sub-menu
{
left:auto;
right:218px;
}
.header-nav .nav > li .sub-menu li .fa
{
    right:auto;
    left:10px;
}
.header-nav .nav > li .sub-menu li a
{
    font-size:11px;
    padding:10px 10px;
}
h1,h2.h3.h4.h5{
    text-align:right;
    direction:rtl;
}
.section-head
{
    text-align:justify;
    direction:rtl;
}
.wt-icon-box-wraper
{
    text-align:right;
    height:100px;
}

    .wt-icon-box-wraper.left .icon-xld, .wt-icon-box-wraper.left .icon-xl, .wt-icon-box-wraper.left .icon-lg, .wt-icon-box-wraper.left .icon-md, .wt-icon-box-wraper.left .icon-sm, .wt-icon-box-wraper.left .icon-xs {
        float: right;
        margin-left: 10px;
        margin-right: 0;
    }

.icon-content p{
    direction:rtl;
}

.text-center
{
    text-align:center;
}
.post-title{
    text-align: right;
}
  .wt-post-text p {
    text-align: justify;
    direction:rtl;
}
h5.wt-tilte
{
    text-align:right;
    direction:rtl;
}
.dirltr p{
    direction:ltr;
}
.site-footer .widget > .widget-title {
    text-align: right;
    direction: rtl;
}
.widget-title::after
{
    left:auto;
    right:18px;
}
.widget-title::before {
    left: auto;
    right: 0;
}
.footer-top .widget{
    text-align:right;
    direction:rtl;
}
.widget_about p{
    text-align:justify;
}
.widget_services ul li::before {
    content: "\f104";
}
.wt-footer-bot-left
{
    float:right;
    direction:rtl;
    text-align:right;
}
.header-nav .nav > li .mega-menu > li ul a {
    direction: rtl;
    text-align: right;
}

.header-nav .nav > li .mega-menu > li ul a.active {
    color: #FFBC13;
    /*background-color:#F2F2F2;*/
}
.wt-breadcrumb {
    text-align: right;
    direction: rtl;
}
.breadcrumb-style-1 li:after {
    margin-left: 0;
    margin-right: 7px;
}
.section-content h2 {
    direction: rtl;
    text-align: right;
}
.section-content p {
    direction: rtl;
    text-align: justify;
}
.wt-separator-outer {
    text-align: right;
}
.site-button i {
    margin-right: 4px;
}
.woo-entry h2 {
    direction: rtl;
    text-align: right;
}

.woo-entry h3 {
    direction: rtl;
    text-align: right;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1a1a1a
}
.wt-tabs.border .tab-pane {
    direction: rtl;
}

.wt-box h3 {
    direction: rtl;
    /*text-align: right;*/
    min-height: 48px;
    font-size: 18px;
}
.input-group {
    direction: rtl;
}
.input-group-addon:first-child {
    border-right: #e1e1e1 1px solid;
}
.wt-icon-box-wraper.center p{
    text-align: center;
    direction:ltr;
    
}
.phone-items {
    direction: ltr;
}
.blog-md .wt-post-media {
    float: right;
    margin-right: 0;
    margin-left: 30px;
}
.wt-post-meta ul, .wt-post-readmore {
    direction: rtl;
    text-align: right;
}
.acod-title {
    direction: rtl;
    text-align: right;
}
ol.list-num-count > li:before {
    left: auto;
    right: -28px;
}
ol.list-num-count > li {
    margin: 0 30px 6px 0;
}
.list-check-circle li {
    padding: 5px 20px 5px 5px;
    direction: rtl;
    text-align: right;
}
.list-check-circle li:before {
    left: auto;
    right: 0;
}

.why-text h5 {
    text-align: center;
}

.form-group {
    text-align: right;
}

/*.site-button {
    /*float: right;
}*/

#SuccessDivQ, #errorDivQ {
    display: none;
    text-align: right;
    direction: rtl;
}
#SuccessDivC, #errorDivC {
    display: none;
    text-align: right;
    direction: rtl;
}
#SuccessDivN, #errorDivN {
    display: none;
    text-align: right;
    direction: rtl;
}

.wt-post-text ul li{
    direction: rtl;
    text-align: right;
}

.cart-dropdown-item-wraper {
    width: 62px;
}
.nav-cart-item ul li {
    cursor: pointer;
}
.catalog-list {
    border-bottom: 1px solid #ECECEC !important;
}
.wt-cart .woo-cart-count
{
    border:none;
}


.wt-post-text h2 {
    text-align: right;
    font-size: 20px;
}


.wt-post-text h3 {
    text-align: right;
    font-size: 16px;
}

.wt-thum-bx a img {
    height: 200px;
}